---
layout: default
stylesheets:
  - /css/post.css
---

<main class="post">
  {% if headerImage %}
    <c-layout-item type="full">
      <img src="{{ headerImage }}" alt="{{ imageAlt }}" {{ imageSize | imageDimensions }}/>
    </c-layout-item>
  {% endif %}
  <c-layout-item type="full" class="breadcrumbs">
    <a href="/">Home</a>
  </c-layout-item>
  <c-layout>
    {{ content }}
  </c-layout>
</main>
